body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  margin: auto;
}

.form-card {
    margin: auto;
    width: 50%;
    border: 3px solid cadetblue;
    padding: 10px;
}

.form-card > form > div {
  padding: 3%;
}

.column-container {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
}

.row-container {
  display: grid;
  grid-template-rows: auto;
}

a {
  color: red;
}