body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  margin: auto;
  padding-top: 10%;
  padding-bottom: 10%;
}

.form-card {
    margin: auto;
    width: 50%;
    border: 3px solid cadetblue;
    padding: 10px;
}

.form-card > form > div {
  padding: 3%;
}

.column-container {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
}

.flex-container {
  display: flex;
  justify-content:space-evenly;
}

.row-container {
  display: grid;
  grid-template-rows: auto;
}

a {
  color: red;
  padding-left: 15%;
}

a:hover {
  cursor: pointer;
  font-weight: bold;
}

button {
  font-size: medium;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    sans-serif;
  margin-top: 2px;
  margin-bottom: 2px;
}

input {
  font-size: medium;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    sans-serif;
  margin-top: 2px;
  margin-bottom: 2px;
}

select {
  font-size: medium;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    sans-serif;
}

button:hover {
  cursor: pointer;
  font-weight: bold;
}

.delete {
  text-align:left;
}

.delete:hover {
  color: red;
  cursor: pointer;
}

a {
  position: relative;
  bottom: 0px;
}

.submit {
  border-radius: 12px;
  border: none;
  padding: 5%;
  font-size: 18px;
  background-color: green;
  color: white;
}